# تجاهل ملفات الداتا الكبيرة
data/raw/widsdatathon2025/
data/raw/
data/processed/

# تجاهل ملفات النظام والكاش
__pycache__/
*.pyc
.DS_Store
.env
venv/
.vscode/

# ملحوظة: سيبنا ملفات الـ joblib عشان محتاجينها في الـ Render
# إلا لو حجم الموديل الواحد معدي 100 ميجا (وده غالباً محصلش معاك)